<div style="position: fixed; bottom: 10; right: 50">
    <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
</div>
{% schema %}
  {
    "name": "pointswipe",
    "target": "body",
    "settings": []
  }
{% endschema %}
